{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">

        <div class="col-12">
            {% if cart_items %}
                <table class="table table-sm mt-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Workout Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.workout.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.workout.price }}</p>
                                </td>
                                <td class="py-3">
                                    <a class="remove-item text-danger pointer my-0" id="remove_{{ item.item_id }}">
                                        <i class="fas fa-times-circle fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h5><strong>Total: £{{ total|floatformat:2 }}</strong></h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'workouts' %}" class="btn btn-outline-secondary mt-4 mr-2">
                                    <span><i class="fas fa-chevron-left"></i></span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="" class="btn btn-secondary mt-4">
                                    <span class="text-uppercase">Checkout</span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            {% else %}
                <p class="my-3">Your cart is empty.</p>
                <a href="{% url 'workouts' %}" class="btn btn-outline-secondary">
                    <i class="fas fa-chevron-left"></i>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}