{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">

        <div class="col-12">
            {% if cart_items %}
                <table class="table table-sm mt-4">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Workout Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workout in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if workout.image %}
                                        <img class="img-thumbnail rounded-0 img-fluid" src="{{ workout.image.url }}" alt="{{ workout.name }}">
                                    {% else %}
                                        <img class="img-thumbnail rounded-0 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC_13ebLeTd0rsVIplte6zH-EEqleIiGuw6A&usqp=CAU" alt="{{ workout.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ workout.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ workout.price }}</p>
                                </td>
                                <td class="py-3">
                                    <a class="remove-item text-danger pointer my-0" id="remove_{{ workout.id }}">
                                        <i class="fas fa-times-circle fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h5><strong>Total: £{{ total|floatformat:2 }}</strong></h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'workouts' %}" class="btn btn-secondary rounded-0 mt-4 mr-2">
                                    <span><i class="fas fa-chevron-left"></i></span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-secondary rounded-0 mt-4">
                                    <span class="text-uppercase">Checkout</span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            {% else %}
                <p class="my-3">Your cart is empty.</p>
                <a href="{% url 'workouts' %}" class="btn btn-secondary rounded-0">
                    <i class="fas fa-chevron-left"></i>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}