{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="herotron p-4">
                <img src="https://lh3.googleusercontent.com/proxy/49yy2ZJ9zQk4Nr6IJgSfvQmS_EhrbdwYmCdh2mZD4Hns1vmtlzKIYlD7j1Eg8Rgvx2Es8n1J0UfZ1xsaeVviw4LyQ07IliaN4wd1HfL1cHPNj7RNikfudjVd" alt="hero image" class="hero-img">
                <h1><span class="brand">A</span>ctive <span class="brand">T</span>raining <span class="brand">S</span>tudio</h1>
                <p class="lead position-relative">Train, motivate, and connect.</p>
                <p></p>
                <p class="lead my-4">
                    <a class="btn btn-danger rounded-0 btn-lg" href="{% url 'workouts' %}" role="button">GET STARTED !</a>
                </p>
            </div>
        </div>
    </div>
</header>


<section class="our-mission">
    <div class="card-deck mt-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="jumbotron jumbotron-fluid bg-dark text-center position-relative">
        <div class="container">
            <h4 class="text-light font-italic">"What seems impossible today will one day become your warm-up."</h4>
            <a class="lead text-danger font-weight-bold" href="{% url 'workouts' %}">
                Start now! <i class="fas fa-chevron-right fa-xs"></i>
            </a>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}