{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="row p-4 my-5">
                <div class="col-12 col-md-8">
                    <h1><span class="brand">A</span>ctive <span class="brand">T</span>raining <span class="brand">S</span>tudio</h1>
                    <p class="lead position-relative">Train, motivate, and repeat.</p>
                    <p class="text-wrap">Engage in a healthier lifestyle and get in shape with virtual access to our extensive workouts.</p>
                    <p class="lead my-4">
                        <a class="btn btn-danger rounded-0 btn-lg text-uppercase" href="{% url 'workouts' %}" role="button">Get Started !</a>
                    </p>
                </div>
                <div class="d-none d-md-block col-md-4">
                    <img src="{{ MEDIA_URL }}man%2Bwoman%2Bbodybuilding.png" alt="hero image" class="hero-img">
                </div>
            </div>
        </div>
    </div>
</header>


<section class="call-to-action">
    <div class="jumbotron jumbotron-fluid bg-dark text-center position-relative">
        <div class="container">
            <h5 class="text-light font-italic">"What seems impossible today will become your warm-up tomorrow."</h5>
            <a class="lead text-danger font-weight-bold" href="{% url 'workouts' %}">
                <span>Start now!</span> <i class="fas fa-chevron-right fa-xs"></i>
            </a>
        </div>
    </div>
</section>


<section class="our-mission">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="row d-flex align-items-center mt-2">
                <div class="col-12 col-md-6 text-right pr-5">
                    <img src="{{ MEDIA_URL }}woman1.png" width="300px" alt="potential image">
                </div>
                <div class="col-12 col-md-6 border-left border-danger pl-5">
                    <h4 class="text-danger">Embrace your potential</h4>
                    <p>Tap into what you are truly capable of and train at your own pace. Anywhere, anytime.</p>
                </div>
            </div>
            <div class="row d-flex align-items-center mt-4">
                <div class="col-12 col-md-6 text-right border-right border-danger pr-5">
                    <h4 class="text-danger">Conquer your body</h4>
                    <p>Choose from hundreds of workouts to build your own training program.</p>
                </div>
                <div class="col-12 col-md-6 pl-5">
                    <img src="{{ MEDIA_URL }}woman2.png" width="300px" alt="body image">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}