{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid">

    <div class="row">
        <div class="col-4">
            {% if workout %}
                <div class="card">
                    {% if workout.image %}
                        <img class="card-img-top" src="{{ workout.image.url }}" alt="{{ workout.name }}">
                    {% else %}
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC_13ebLeTd0rsVIplte6zH-EEqleIiGuw6A&usqp=CAU" alt="{{ workout.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ workout.name }}</h5>
                        {% if request.user.is_superuser %}
                            <div>
                                <a href="{% url 'edit_workout' workout.id %}">Edit</a> 
                            </div>
                        {% endif %}
                        {% if workout.category %}
                            <a href="{% url 'workouts' %}?category={{ workout.category.name }}">
                                <span class="badge badge-danger">{{ workout.category.friendly_name }}</span>
                            </a>
                        {% endif %}
                        {% if workout.workout_type %}
                            <a href="{% url 'workouts' %}?type={{ workout.workout_type.name }}">
                                <span class="badge badge-secondary">{{ workout.workout_type.friendly_name }}</span>
                            </a>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ workout.description }}</li>
                        <li class="list-group-item">{{ workout.difficulty }}</li>
                        <li class="list-group-item">{{ workout.rating }} / 10</li>
                        <li class="list-group-item">£ {{ workout.price }}</li>
                    </ul>
                    <div class="card-body">
                       <form class="form" action="{% url 'add_to_cart' workout.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-secondary text-uppercase" value="Add to Cart">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</section>

{% endblock %}