{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">

        <div class="col-3">
            <form class="form-inline" method="GET" action="{% url 'workouts' %}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">S</button>
            </form>
            <div class="dropdown">
                <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'workouts' %}?category=cardio">Cardio</a>
                    <a class="dropdown-item" href="{% url 'workouts' %}?category=full_body">Full Body</a>
                    <a class="dropdown-item" href="{% url 'workouts' %}?category=cardio,full_body">All Categories</a>
                </div>
            </div>
        </div>

        <div class="col-9">
            {% if workout %}
                <div class="card">
                    <a href="">
                        <img class="card-img-top" src="#" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ workout.name }}</h5>
                            <p class="card-text">{{ workout.description }}</p>
                        </div>
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ workout.difficulty }}</li>
                        <li class="list-group-item">{{ workout.price }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Buy Now!</a>
                        <a href="#" class="card-link">Add to cart</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}