{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">

        <div class="col-3">
            {% include "inc/search.html" %}
            {% include "inc/filters.html" %}
        </div>

        <div class="col-9">
            {% for workout in workouts %}
                <div class="card">
                    <a href="{% url 'workout_detail' workout.id %}">
                        <img class="card-img-top" src="#" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ workout.name }}</h5>
                            <p class="card-text">{{ workout.category.friendly_name }}</p>
                        </div>
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ workout.difficulty }}</li>
                        <li class="list-group-item">{{ workout.price }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Buy Now!</a>
                        <a href="#" class="card-link">Add to cart</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}