@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.brand{
    font-family: 'Train One', 'Arial';
    font-weight: bold;
    color: #dc3545 !important;
    font-size: 2rem;
}

a{
    color: inherit;
}

a:hover{
    color: grey;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.hero-img{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -3rem;
    right: 0;
}
