{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font">Thank You</h2>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
			<div class="col text-right">
				<a href="{% url 'workouts' %}" class="btn btn-secondary rounded-0">
					<span class="text-uppercase">Work Out Now!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}