<footer class="p-4 pt-md-5 border-top bg-dark">
    <div class="row">
        <div class="col-12 col-md offset-1">
            <a class="navbar-brand brand" href="{% url 'home' %}">ATS</a>
            <small class="d-block mb-1 text-muted"><i class="far fa-copyright"></i> 2021</small>
            <small class="d-block mb-3 text-muted">Content and Images provided by <a class="text-danger" href="https://darebee.com/" target="_blank">Darebee</a></small>
        </div>
        <div class="col-6 d-none d-md-block col-md">
            <h5 class="text-danger">Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'workouts' %}">Workouts</a></li>
                <li><a class="text-muted" href="{% url 'view_cart' %}">Cart</a></li>
            </ul>
        </div>
        <div class="col-6 d-none d-md-block col-md">
            <h5 class="text-danger">Account</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'profile' %}/#nav-workouts">My Workouts</a></li>
                <li><a class="text-muted" href="{% url 'profile' %}/#nav-billing">Billing</a></li>
                <li><a class="text-muted" href="{% url 'profile' %}/#nav-orders">Orders</a></li>
            </ul>
        </div>
        <div class="col-6 d-none d-md-block col-md" style="font-size: 2rem;">
            <a class="text-danger p-1" href="https://facebook.com/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a class="text-danger p-1" href="https://twitter.com/" target="_blank">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="text-danger p-1" href="https://instagram.com/" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
    </div>
</footer>

<script>
    let hash = document.location.hash;
    let prefix = "tab_";
    if (hash) {
        $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
    } 
    $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });
</script>