<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand brand" href="{% url 'home' %}">ATS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-uppercase">Admin</span>
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href="{% url 'add_workout' %}">Add Workout</a>
                        <a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a>
                        <a class="dropdown-item" href="{% url 'add_workouttype' %}">Add Type</a>
                    </div>
                </li>
                {% endif %} 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'workouts' %}">
                    <span class="text-uppercase">Workouts</span>
                    <i class="fas fa-dumbbell"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cart' %}">
                    <span class="text-uppercase">Cart</span>
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                    <span class="text-uppercase">Profile</span>
                    <i class="fas fa-user-circle"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">
                    <span class="text-uppercase">Logout</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>